{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.min.css' %}>
		<link rel="stylesheet" type="text/css" href= {% static 'Style.css' %}>
		<title>My Profile</title>  
	</head>

	<body>
		<!----------Navbar---------->
		<nav class="navbar navColor navbar-expand-lg fixed-top">
			
				<a class="navbar-brand name" href="#">LIA YULIANA</a>
				
				<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" 
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
				</button>
		  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">

			  	<ul class="navbar-nav ml-auto">

					<li class="nav-item active">
					  <a class="nav-link navbar-brand" href="#journey">Journey
						  <hr class=line><span class="sr-only">(current)</span></a> 
					</li>

					<li class="nav-item active">
						<a class="nav-link navbar-brand" href="#skills">Skills
							<hr class=line><span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item active">
						<a class="nav-link navbar-brand" href="#findMe">Find Me
							<hr class=line><span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item active">
						<a class="nav-link navbar-brand" href="Quotes.html">Quotes
							<hr class=line><span class="sr-only">(current)</span></a>
					</li>
				</ul>
				</div>
            </nav>


            <!----------Section Know Me More---------->
            <div id="knowMe">
                <div class="section1">
                    <div class="container-fluid">
                            <div class="row align-items-center"><br>
                                <div class="col-md-4 col-sm-12 col-12 mr-auto align-items-center">
                                    <br><br>
                                    <img class="foto" src="https://i.ibb.co/2MSBzQT/Academy-SEA-Lia-Yuliana.jpg" alt="Foto Diri" width="290" height="370">
                                </div>
                                <div class="col-md-6 col-sm-12 col-12 mr-auto align-items-center">
                                    <br><br>
                                    <h2>DESCRIPTION</h2><br>
                                    <P>Hello, my name's Lia Yuliana. I'm a second years student at Faculty of Computer Science University of Indonesia. 
                                    I'm interested in major of technology such as software engineering, artificial intelligence and bioinformatics. 
                                    And also I have enthusiastic about health, mental issues and resiliences.</P> <br>
                                    <h2>MOTTO</h2><br>
                                    <p>We're here to put a dent in the universe. Otherwise why else even be here?</p>
                                    <p>- Steve Jobs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section12">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-sm-12 col-12 mr-auto align-items-center"><br>
                                <h2>LOCATION</h2><br>
                                <p>Currently live in Depok, West Java</p>
                            </div>
                            <div class="col-md-6 col-sm-12 col-12 mr-auto align-items-center"><br>
                                <h2>CONTACT</h2><br>
                                <p>liayuliana291@gmail.com</p>
                            </div>			
                        </div>
                    </div>
                </div>

            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12 col-sm-12 col-12 copyR mr-auto align-items-center">
                        <p>@Copyright2019</p>
                    </div>
                </div>
            </div>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>