{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.min.css' %}>
		<link rel="stylesheet" type="text/css" href= {% static 'Style.css' %}>
		<title>My Profile</title>  
	</head>

	<body>
		<!----------Navbar---------->
		<nav class="navbar navColor navbar-expand-lg fixed-top">
			
				<a class="navbar-brand name" href="#">LIA YULIANA</a>
				
				<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" 
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
				</button>
		  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">

			  	<ul class="navbar-nav ml-auto">

					<li class="nav-item active">
					  <a class="nav-link navbar-brand" href="#journey">Journey
						  <hr class=line><span class="sr-only">(current)</span></a> 
					</li>

					<li class="nav-item active">
						<a class="nav-link navbar-brand" href="#skills">Skills
							<hr class=line><span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item active">
						<a class="nav-link navbar-brand" href="#findMe">Find Me
							<hr class=line><span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item active">
						<a class="nav-link navbar-brand" href="Quotes.html">Quotes
							<hr class=line><span class="sr-only">(current)</span></a>
					</li>
				</ul>
				</div>
			</nav>

		<!----------Halaman Depan---------->
		<div class="container-fluid utama">
			<div class="row align-items-center"><br>
				<div class="col-md-12 col-sm-12 col-12 mr-auto">
					<h1 class="display-4">HELLO WORLD !</h1>
					<p class="lead">It all starts with an introduction</p>
					<a class="btn btn-primary btn-lg" href="/KnowMeMore/" role="button">Know Me More</a>
				</div>
			</div>
		</div>
			
		<!----------Copyright---------->
		<div class="container-fluid">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-12 col-sm-12 col-12 copyR mr-auto align-items-center">
					<p>@Copyright2019</p>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>